/*导航栏下轮播图中的登录注册模块*/
.littleReg{
	width: 220px;
	height: 400px;
	background-color: pink;
	margin-top: 20px;
}
.headline{
	margin-top: 10px;
	width:200px;
}
.headline .topnews{
	color: #e4393c;
	font-weight: 700;
}
.headline ul{
	border-bottom: 1px solid #ccc;
	/*text-align: center;*/
}
.headline ul li{
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
}
.headline ul li a{
	font-size: 0.8em;
	color: #000;
}
.headline ul li a:hover{
	text-decoration: none;
}
.reg{
	display:inline-flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-top: 10px;
}
.reg .regImg{
	width: 50px;
	height: 50px;
	/*margin-right: 1em;*/
}
.regImg img{
	height: 100%;
	width: 100%;
}
.regText{
	padding-left: 10px;
}
.regText p{
	color: #000;
	font-size: 0.8em;
	padding-bottom: 0.3em;
}
.regText a{
	color: #e4393c;
	font-size: 0.6em;
}
.regText a:hover{
	text-decoration: none;
}
.regButton{
	padding-top: 5px;
}
.regButton input{
	width: 95px;
	height: 25px;
	background-color:#F37B1D;
	font-size: 0.6em;
	color: #fff;
	border:none;
}
.sales{
	margin-top: 15px;
	height: 90px;
	margin-left: 20px;

}
.sales ul li a{
	color: #000;
	font-size: 0.8em;
	height: 20px;
	vertical-align: 20px;
}
.sales ul li a:hover{
	text-decoration: none;
}
.img-sales{
	height: 90px;
	width: 220px;
	margin:0 auto;
	margin-top: 10px;
}
.img-sales img{
	height: 100%;
	width: 100%;

}
