html{
	/*overflow-y: scroll;*/
}
body{
	font-family: "Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,Verdana,"Microsoft Yahei",sans-serif;
	behavior:url(csshover.htc);
	font-size: 1em;
}
#container{
	width: 1349px;
	margin:0 auto;
}
#header{
	height: 135px;
	width: 100%;
}
.top-bar-bg{
	background-color: #F2F2F2;
	width: 100%;
	height: 35px;
}
.top-bar{
	width: 1200px;
	height: 35px;
	margin:0 auto;
	display: flex;
	display: -webkit-flex; /* Safari */
	justify-content: space-between;
	align-items: center;
}
.top-left-bar{
	display: flex;
	display: -webkit-flex; /* Safari */
	align-items: center;
	width: 142px;
	height: 100%;
}
.top-left-bar a{
	color: #999;
	font-size: 0.8em;
	text-decoration: none;
	text-align: center;
	padding-right: 5px;
}
.top-left-bar a:hover{
	color: #F03726;
}
.top-right-bar{
	height: 35px;
}
.top-right-bar ul{
	display: flex;
	display: -webkit-flex; /* Safari */
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.top-right-bar ul li{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 10px;
}
.top-right-bar ul li a{
	text-decoration: none;
	color: #999999;
	font-size: 0.8em;
}
.top-right-bar ul li a:hover{
	color: #F03726;
}
.top-right-bar ul li img{
	vertical-align: middle;
	text-align: center;
	padding-right: 3px;
}
.headerSearch{
	width: 960px;
	height: 90px;
	margin:0 auto;
	display: flex;
	display: -webkit-flex; /* Safari */
	align-items: center;
	justify-content: space-between;
}
.webImage{
	width: 100%
	height: 100%;
}
.searchBar{
	width: 660px;
	height: 46px;
	border:2px solid #F03726;
}
.searchBar input{
	height: 100%;
	display: inline-block;
	padding: 0;
	padding-left: 10px;
	border-radius: 0;
	border: 0;
}
.searchBar span{
	background-color: #F03726;
}
.searchBar span button{
	width: 80px;
	border-radius: 0;
	border: 0;
	color: #fff;
	background-color: transparent;
}
.searchBar span button:hover{
	color: #fff;
	background-color: transparent;
}
.searchBar span button:focus{
	background-color: transparent !important;
	border: none !important;
	border-color: transparent !important;
}
.searchBar span:focus,
.searchBar span:active:focus,
.searchBar span.active:focus,
.searchBar span.focus,
.searchBar span:active.focus,
.searchBar span.active.focus {
    outline: none;          
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    color: #fff;          
}
.searchBar span button:active{
	background-color: transparent !important;
	border: 0 !important;
	border-color: transparent !important;
	box-shadow: none;
}
#content{
	width: 1349;
	height: 415px;
	margin-top: 10px;
	display: flex;
	flex-direction: flex-start;
}
.menuContent{
	display: flex;
	flex-direction: flex-start;
	margin: 0 auto;
}
.navmenu{
	width: 190px;
	height: 100%;
}
.navindex{
	margin-left: 20px;
	height: 45px;
	width: 800px;
}
.navindex ul li a{
    font-weight: 700;
    color: #555;
}
.navborder{
	border-bottom: none;
}
.navindex ul li a:hover{
	color: #e4393c;
}
.navborder>li>a{
	border-radius: 5px;
}

/*导航栏右侧我的福利*/
.navRight{
	display: flex;
	flex-direction: column;
	/*justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;*/

}
.myWelfare{
	width: 200px;
	height: 40px;
	display: inline-flex;
	flex-direction: flex-start;
	align-items: center;
}
.myWelfare span{
	width: 45px;
	height: 100%;
	background-color: #FFF;
	border-radius: 5px;
	-webkit-border-radius:20px;
	display: inline-flex;
	align-items: center;
	z-index: 25;
	padding-left: -5px;
}
.welfareText{
	width: 160px;
	height: 35px;
	margin-left: -10px;
	background-color: #E54155;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.myWelfare{
	cursor: pointer;
}
.welfareText b a{
	color: #f4ea2a;
	font-weight: 700;
	padding-left: 40px;
}
.welfareText b a:hover{
	text-decoration: none;
}
.welfareText i{
	padding-right: 10px;
}
/*导航栏右侧我的福利 --END*/

/*导航栏下轮播图中的登录注册模块*/
.littleReg{
	width: 220px;
	height: 404px;
	background-color: pink;
	
}