.mainContent{
	width: 1349px;
}
.main-content{
	width: 1200px;
	margin:0 auto;
}
/*主要内容中顶部的优惠活动（4张活动图片）Start!*/
.topAdv{
	width: 100%;
	height: 145px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.leftBg{
	width: 300px;
	height: 100%;
	background-color: yellow;
}
.reallyFish{
	font-weight: 700;
	font-size: 0.8em;
}
.newYear{
	font-size: 0.9em;
	padding-top: 10px;
}
.advImg a img{
	width: 120px;
	height: 120px;
}
.advTop{
	display: flex;
	justify-content: space-between;
	width: 300px;
	height: 100%;
}
.advImg{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.advImg span{
	height: 90px;
	border: 1px solid #E8E4DE;
	margin-left: 15px;
}
.advImg a:hover{
	animation: myanimation 5s;
	-moz-animation: myanimation 5s; /* Firefox */
	-webkit-animation: myanimation 5s; /* Safari and Chrome */
	-o-animation: myanimation 5s; /* Opera */
}
@keyframes myanimation
{
	0% { left:0; top:0; }
	100% { left:20px; top:0; }
}
.adv-top{
	margin-left: 15px;
	margin-top: 20px;
}
.activity{
	width: 1200px;
	height: 380px;
	margin:0 auto;
	margin-top: 10px;
}
.activityText{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #000;
}
.activityText-left{
	display: inline-flex;
	align-items: center;
}
.activityText-left h2{
	font-size: 1.2em;
	font-weight: 700;
}
.activityText-left p{
	margin-left: 15px;
	color: #999;
	font-size: 0.8em;
	margin-top: 5px;
	font-weight: 700;
}
.activityText-right{
	height: 40px;
	display: inline-flex;
	align-items: center;
	margin-top: 5px;
}
.activityText-right a{
	font-size: 0.8em;
	color: #555;
	font-weight: 700;
}
.activityText-right a span{
	margin-right: 30px;
}
.activityText-right a:hover{
	text-decoration: none;
}
.activityText-right a span:hover{
	text-decoration: none;
}
.activityText-right a img{
	vertical-align: middle;
	margin-left: 3px;
}
.activityImg{
	width: 100%;
	height: 335px;
	margin-top: 10px;
	display: flex;
}
.activityImg div{
	/*width: 296px;*/
	height: 314px;
	margin-right: 1px;
	flex:1;
}
.activityImg div a img{
	height: 100%;
	width: 100%;
}
/*主要内容中顶部的优惠活动（4张活动图片）END!*/

/*第一个主要内容部分中间部分图片广告（5个大图片模块）Start!*/
.subActivity{
	width: 1200px;
	height: 530px;
	margin:0 auto;
	margin-top: 10px;
}
.subActivityImg{
	width: 100%;
	height: 480px;
	margin-top: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	flex:1;
}
.imgDiv{
	/*width: 240px;*/
	height: 480px;
	background-color: #6BDEA7;
}
.walnut{
	width: 100%;
	height: 150px;
	padding-top: 15px;
}
.milk{
	width: 55px;
	height: 55px;
	margin-left: 15px;
	margin-top: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #FFF;
	border: 1px solid red;
	border-radius: 27.5px;
}
.milk p{
	text-align: center;
	vertical-align: middle;
	font-size: 0.8em;
}
.walnutText{
	width: 200px;
	height: 50px;
	margin:0 auto;
	padding-left: 60px;
	padding-top: 10px;
}
.walnutText a{
	display: block;
	font-size: 0.8em;
	color: #666;
	margin-top: 10px;
}
.walnutText a span{
	color: #FFF;
	font-weight: 700;
}
.walnutText a:hover{
	text-decoration: none;
}
.walnutImg{
	width: 210px;
	height: 210px;
	margin:0 auto;
	margin-top: 50px;
}
.walnutImg a img{
	width: 100%;
	height: 100%;
}
.imgDiv2{
	/*width: 240px;*/
	height: 480px;
}
.imgDiv2-fruit{
	width: 240px;
	height: 240px;
}
.imgDiv2-fruit:first-child{
	border-bottom: 1px solid #EEE;
}
.fruit1{
	width: 180px;
	height: 180px;
	margin:0 auto;
	padding-top: 10px;
}
.fruit1 a img{
	width: 100%;
	height: 100%;
}
.fruit1Text{
	width: 240px;
	height: 40px;
	margin:0 auto;
	padding-top: 10px;
	display: inline-flex;
	justify-content: space-around;
}
.fruit1Text p,.fruit2Text p{
	padding-top: 5px;
	font-size: 0.8em;
	font-weight: 700;
	color: #666;
}
.fruit1Text p span,.fruit2Text p span{
	color: #000;
	font-size: 1em;
}
.imgDiv3{
	height: 100%;
	/*width: 240px;*/
	border-left: 1px solid #EEE;
}
.first{
	border-right: 1px solid #EEE;
}
.fruit2Text{
	width: 240px;
	height: 49px;
	margin:0 auto;
	margin-top: 120px;
	display: inline-flex;
	justify-content: space-around;
}
.fruit2{
	width: 194px;
	height: 194px;
	margin:0 auto;
	margin-top: 80px;
}
.fruit2 a img{
	width: 100%;
	height: 100%;
}
/* 第一个主要内容部分中间部分图片广告（5个大图片模块）END! */


/* 第二、三、四、五个主要内容部分中间部分图片广告（5个大图片模块）Start! */
.seconeNut{
	background-color: #FF9229;
}
.thirdNut{
	background-color: #8ED515;
}
.fourthNut{
	background-color: #FFF001;
}
.fifthNut{
	background-color: #FE7A65;
}

/* 第二、三、四、五个主要内容部分中间部分图片广告（5个大图片模块）END! */