html{
	overflow-y: scroll;
}
body{
	width: 1349px;
}
#header{
	height: 125px;
	width: 1349px;
	background-color:#D31E13;
}
.top-bar{
	width: 1200px;
	height: 35px;
	margin:0 auto;
}
.top-left-bar{
	/*display: inline-block;*/
	width: 142px;
	height: 35px;
}
.top-left-bar a{
	font-family: "Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,Verdana,"Microsoft Yahei",sans-serif;
	color: #D31E13;
}
