body{
	font-family: "Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,Verdana,"Microsoft Yahei",sans-serif;
	font-size: 1em;
	behavior:url(css/csshover.htc);
}
.topmenu{
	display: block;
	width: 200px;
	border: 2px solid #e4393c;
}
.toptitle{
	height: 40px;
	line-height: 40px;
	text-align: left; /*文字的对齐方式，左对齐*/
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	background-color: #e4393c;
	padding-left: 20px;
}
.topmenu li{
	height: 30px;
	line-height: 30px;
	text-align: left;
	padding-left: 10px;
	z-index: 3;
	background-color: rgba(110,101,104,1);
	background-image: url(../images/finally.png);
	background-repeat: no-repeat;
	background-position: right;

}
.topmenu li:hover{
	border: 1px solid #DDD;
	border-right: 0;
	box-shadow: 0 0 8px #DDD;  /*box-shadow是给元素块添加周边阴影效果*/
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
	background-color: #FFF;
	background-image: none;
	border-left: 4px solid #e4393c;
	/*color: #ccc;*/
}
.topmenu li a{
	text-decoration: none;
	color: #FFF;
}
.topmenu li a:hover{
	text-decoration: underline;
	font-weight: bold;
	color: #e4393c;
}
.submenu{
	display: none;
	width:715px;
	margin-left: 185px;
	position: absolute;
	top: 40px;
	border: 1px solid #DDD;
	z-index: 4;
	background-color: #FFF;
	box-shadow: 0 0 8px #DDD;  /*box-shadow是给元素块添加周边阴影效果*/
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
}
.leftclass{
	float: left;
	width: 490px;
	margin:5px;

}
.rightclass{
	float: left;
	width: 200px;
	margin:5px;
}
.topmenu li:hover .submenu{
	display: block;
}
.topmenu li:hover span{
	background-color: #FFF;
	display: inline-block;
	z-index: 20;
	width: 20px;
	height: 30px;
	float: right;
	position: relative;
}
.leftclass dl{
	display: block;
	border-bottom: 1px solid #EEE;
	padding-bottom: 6px;
	padding-top: 6px;
	overflow:hidden;  /*处理块元素的溢出*/
}
.leftclass dl dt{
	display: block;
	float: left;
	width: 80px;
	text-align: right;
	height: 22px;
	line-height: 22px;
	padding-right: 6px;
}
.leftclass dl dt a{
	color: #e4393c;
	font-weight: bold;
	text-decoration: underline;
}
.leftclass dl dd{
	display: block;
	overflow:hidden;
}
.leftclass dl dd a{
	display: block;
	float: left;
	border-left: 1px solid #CCC;
	color: #737373;
	font-size: 0.8em;
	padding:0 10px;
	height: 16px;
	line-height: 16px;
	margin:3px 0;
}
.rightclass dl dd{
	margin:3px 0;
}
.rightclass dl dt{
	color: #e4393c;
	font-weight: bold;
}
.rightclass dl dd a{
	font-size: 0.8em;
	color: #737373;
	line-height: 20px;
}
.rightclass dl dd a:hover{
	color: #737373;
	font-weight: normal;
}